@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.hamburger {
  cursor: pointer;
  display: none;
}

 .nav__list {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin-top: 30px;
  font-family: "Philosopher", sans-serif;
}

.nav__list li {
  list-style-type: none;
  padding: 10px;
}

.nav__list li a {
  text-decoration: none;
  color: #ffffffff;
  padding: 10px;
  font-weight: bold;
  font-size: larger;
  transition: background-color 0.2s ease;
  border-radius: 5px;
}

.nav__list li a:hover {
  text-decoration: none;
  background-color: #ffffffff;
  color: #000000ff;
  border-radius: 5px;
  padding: 10px;
} 




@media only screen and (max-width: 800px) {
  header {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }

  .hamburger {
    cursor: pointer;
    display: block;
 
  }

  nav{
    display: none;
  }

}






