@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.introduction_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
  color: #ffffffff;
  font-family: "Bebas Neue", cursive;
}

.intro {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* white-space: nowrap; */
}

.intro h1 {
  white-space: nowrap;
}

.intro h3 {
  letter-spacing: 3px;
}

.info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.person__icon {
  height: 60%;
  width: 100%;
}

.btn-three {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding: 1.5rem;
  font-weight: bold;
  font-size: xx-large;
  letter-spacing: 5px;

  border: 1px solid rgba(255, 255, 255, 0.5);
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: rgba(53, 53, 53, 0.281);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.social__media {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  justify-content: center;
  align-content: center;
}

.social__media__list {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;

  padding-left: 0;
}

.social__media__list li img:hover {
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(1.3);
}

@media only screen and (max-width: 800px) {
  .introduction_container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    color: #ffffffff;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  .person__icon {
    height: 60%;
    width: 100%;
  }

  .social__media {
    width: 100%;
  }

  .social__media__list {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
  }

  .social__media__list li {
    margin: 0 0.5rem;
  }

  .social__media__list li img {
    width: 3rem;
    padding: 0;
  }
}
