@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.introduction_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
  color: #ffffffff;
  font-family: "Bebas Neue", cursive;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}

.intro h1 {
  white-space: nowrap;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 7px;
}

.intro h3 {
  letter-spacing: 3px;
  font-family: "Catamaran", sans-serif;
}

.info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.person__icon {
  height: 60%;
  width: 100%;
}


.social__media {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  justify-content: center;
  align-content: center;
}

.social__media__list {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
  padding-left: 0;
}

.social__media__list li img:hover {
  /* cursor: pointer; */
  transition: all 0.3s;
  transform: scale(1.3);
}

@media only screen and (max-width: 800px) {
  .introduction_container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: #ffffffff;
    width: 100%;
    margin-top: 10rem;
  }

  .intro{
    order: 1;
  }

  .intro h1{
    font-size: 2rem;
    align-self: center;
    letter-spacing: 3px;
    

  }

  .intro h3{
    font-size: smaller;
    align-items: center;
    align-self: center;
    letter-spacing: 1px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 0;
    
  }

  .person__icon {
    height: 60%;
    width: 100%;
  }

  .social__media {
    width: 100%;
  }

  .social__media__list {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
  }

  .social__media__list li {
    margin: 0 0.5rem;
  }

  .social__media__list li img {
    width: 3rem;
    padding: 0;
  }
}

